# PostgreSQL
DB_HOST=
DB_PORT=5432
DB_NAME=
DB_USER=
DB_PASSWORD=

# API WPS
WPS_URL=
WPS_SECRET_KEY=
WPS_API_KEY_ID=
WPS_TIMEOUT=10
WPS_UDID=
WPS_IP=
WPS_BANDEIRA=
WPS_PORTADOR=
WPS_CARTAO=
WPS_VALIDADE=
WPS_ID_PROMOCAO=
WPS_ID_GARAGEM=

# USERS
SESSION_SECRET=

# LOG
DEBUG=False
